@import url(../public/fonts/fonts.css);

body {
  background-color: #000;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #000;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: url(/_next/static/media/planetFullHd.ea630b65.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position-y: 100%;
  background-size: 126vh;
  background-position-x: -31vw;
}

body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  background-color: var(--orange-smooth, rgba(248, 102, 0, 0.15));
}

body::-webkit-scrollbar-thumb {
  background-color: var(--orange-smooth, rgba(248, 102, 0));
  border-radius: 4px;
}

p {
  color: var(--white-base, #fff);
  font-family: Helvetica;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
}

h1 {
  color: var(--orange-base, #f86600);
  font-family: 'Passion One';
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

h2 {
  color: var(--white-base, #fff);
  font-family: Helvetica;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
}

h3 {
  color: var(--white-base, #fff);
  font-family: Helvetica;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
}

.image {
  display: none;
}

@media screen and (max-width: 1025px) {
  body {
    background-position-y: 100%;
    background-position-x: -107%;
  }
}

@media screen and (max-width: 768px) {
  body {
    background-position-y: 75%;
    background-position-x: 137%
  }
}
@media screen and (max-width: 425px) {
  body {
    background-position-y: 50%;
    background-position-x: 150%;
  }
}


@media screen and (max-width: 375px) {
  body {
    background-position-y: 75%;
    background-position-x: 118%;
  }
}


.footer {
  width: 343px;
  margin: 0 auto;
}

.footer-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
